.Grid_Icon svg {
  width: 14px;
  height: 14px;
  font-weight: 400;
  object-fit: cover;
}

.Grid_Icon path {
  fill: currentColor;
}

.Admin_Sidebar_Icon svg {
  width: 20px;
  height: 20px;
}

.Add_Btn_Icon svg {
  width: 16px;
  height: 16px;
}

.Add_Btn_Icon path {
  fill: currentColor;
}

.Cart_Remove_Icon svg {
  width: 23px;
  height: 23px;
  cursor: pointer;
}

.Cart_Remove_Icon path {
  fill: red;
}
